td, th{
 	padding-left:20px!important; 
}
tfoot tr th, tfoot tr td{
	padding-bottom: 10px!important;
}
#tipo1,#tipo2{
	display: none;
}
.see-content{
	display: block!important;
}
.my-customers{
	background-color: rgb(35, 40, 45);
   	padding: 0;
}
.my-customers li{
	display: inline-block;
   	padding: 10px 20px;
   	color: #FFF;
   	margin: 0;
   	cursor: pointer;
   	font-weight: 700;
}
.content-table{
    position: relative;
    height: 401px;
    overflow-y: scroll;
}
.cierradetalle,.registro span{
   position: absolute;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF5252;
    border-radius: 50%;
    width: 22px;
    text-align: center;
    height: 22px;
    color: #fff;
  }
.currentActive{
	background-color: #0073AA!important;
   color: #fff!important;
}
.masinfo, .removecliente{
    float: left;
    border-radius: 2px;
    padding: 3px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin:0 1px;
 }
.masinfo{
   background-color:#3E883E;
}
.removecliente{
   background-color: #BD0000;
}
.datosdelcliente,.registrapedido{
   position: fixed;
   width: 100%;
   height: 100%;
   left:0;
   top:0;
   background-color: rgba(0,0,0,0.5);
   display: none;
   z-index:10000;
}
.cliente, .alertaremove{
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform:translate(-50%,-50%);
   -moz-transform:translate(-50%,-50%);
   transform:translate(-50%,-50%);
   background-color: white;
   padding:30px;
}
.aceptar, .cancelar{
      display: inline-block;
      width: 100px;
      border-radius: 2px;
      color: #fff;
      font-size: 16px;
      padding: 5px;
      cursor:pointer;
}
.aceptar{background-color: #3E883E;}
.cancelar{background-color:#0073AA;}
.alertaremove{
   display:none;
   text-align: center;
}
.eldetalle p, .cliente p{
    width: 48%;
    float: left;
    margin: 0 1%;
}
.detalle-icons,.icon-detalle{
  text-align: center!important;
  padding: 0!important;
}
.save_detalle{    
  padding: 2px 20px;
  height: auto;
  margin-top: 15px;
}
.detalle-icons a{display:block;}
.eldetalle input[type="text"], .cliente input[type="text"]{
   width: 100%;
   line-height:1.8;
   margin-bottom:6px;
}
.closedatos{
    right: 10px;
    top: 5px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    color: #655B5B;
    cursor: pointer;
    padding: 2px;
    font-size: 25px;
}
.savedatos{
      background-color: rgb(0, 115, 170);
      font-size: 18px;
      margin: 0 auto;
      width: 200px;
      text-align: center;
      padding: 5px;
      color: #fff;
      border-radius: 3px;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.68);
      margin-top: 20px;
      cursor: pointer;
}
.eldetalle{
  width:60%;
}
.totales{
      border-radius: 2px;
    border: 1px solid #e5e5e5;
    margin-top: 20px;
    padding: 10px;
}
.totales div{
  clear: both;
}
.table-modal td{
      padding-left: 0!important;
    padding-right: 0!important;
    text-align: center;
}
.table-modal tr td:nth-of-type(1){
  padding:8px!important;
}
.table-modal tr td:nth-of-type(2){
  text-align: left;
}
.table-modal tr td input{
  text-align:center;
}

.showdatos{
   display: block;
}
.registro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: #fff;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #555;
}
