@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}.flaticon-eyes12:before {
	content: "\e000";
}
.flaticon-transport754:before {
	content: "\e001";
}
span.flaticon-transport754,
span.flaticon-eyes12{
	font-size: 25px;
    margin: 5px;
    cursor: pointer;
    position:relative;
    display: inline-block;
    padding:2px;
    border-radius:2px;
}
span.flaticon-eyes12{
   color: red;    
}
span.flaticon-transport754:hover,
span.flaticon-eyes12:hover{
	color: #fff;
	background-color: red;
}
.eldetalle{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-shadow: 0px 0px 5px;
    background-color:#fff;
    z-index: 1000;
}
.fotoproducto{
	width:100px;
}
.cabecera th{
	color: #0073AA!important;
    font-weight: bold!important;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc!important;
/*}
.cebra{
	background-color:#F9F9F9;
}*/
/*span.flaticon-eyes12:before {
    color: red;
    
}*/
/*span.flaticon-transport754:hover 
span.flaticon-transport754:before {
    color: red;
}*/